{% extends 'base.html' %}

{% block content %}

{% with messages =  get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<h1>Login</h1>
<br><br><br>

<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class='from-label') }}
        {{ form.username(class='form-control') }}
        <br>
        {{ form.password.label(class='from-label') }}
        {{ form.password(class='form-control') }}
        <br>
        {{ form.submit(class='btn btn-secondary') }}
    </form>
</div>

{% endblock %}