{% extends 'base.html' %}

{% block content %}

{% with messages =  get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
{% for post in posts %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h2><a href="{{ url_for('posts.get_post', post_id=post.id) }}">{{ post.title }}</a></h2>
    <small>By: {{ post.user.name }}<br>
    {{ post.created_at }}</small><br><br>
    {{ post.content|safe }}<br><br>
    <a href="{{ url_for('posts.get_post', post_id=post.id) }}" class="btn btn-outline-secondary btn-sm">View Post</a>
    {% if current_user.id == post.user.id %}
    <a href="{{ url_for('posts.edit_post', post_id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
    <a href="{{ url_for('posts.delete_post', post_id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}
    <br>
</div>
{% endfor %}

{% endblock %}