{% extends 'base.html' %}

{% block content %}

{% with messages =  get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% if user_to_update.id == current_user.id %}
<h1>Update User</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="{{ url_for('users.update_user', user_id=user_to_update.id) }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class='from-label') }}
        {{ form.name(class='form-control', value=user_to_update.name) }}
        <br>
        {{ form.username.label(class='from-label') }}
        {{ form.username(class='form-control', value=user_to_update.username) }}
        <br>
        {{ form.email.label(class='from-label') }}
        {{ form.email(class='form-control', value=user_to_update.email) }}
        <br>
        {{ form.favorite_color.label(class='from-label') }}
        {{ form.favorite_color(class='form-control', value=user_to_update.favorite_color) }}
        <br>
        {{ form.submit(class='btn btn-secondary') }}
<!--        <a href="{{ url_for('users.delete_user', user_id=user_to_update.id) }}" class="btn btn-danger">Delete</a>-->
    </form>
</div>
<br><br><br>

{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Sorry! You Can't Edit This User...</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h2>Access Denied!</h2>
{% endif %}

{% endblock %}