{% extends 'base.html' %}

{% block content %}

{% with messages =  get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{ post.title }}</h2>
    <small>By: {{ post.author }}<br>
        {{ post.created_at }}</small><br><br>
    {{ post.content }}<br>
</div>
<a href="{{ url_for('show_posts') }}" class="btn btn-outline-secondary btn-sm">Back to Blog</a>

{% endblock %}